:root{
    --black:#101113;
    --black-sads:#1e1e1e;
--brand-red: #f00;
--white:#ffffff;
--green:#a6a001;
--gray:#ACACAC;
--gray-sads:#8a989b;
--light-gray:#A9A9A9;
--white-sads:#4b4b4b;
--border-color:#3E3E3E;

}
