.footer-background{
    background: var(--black-sads);
    margin-top: 100px;
    .footer-text{
        display: flex;
        justify-content: space-between;
        padding: 60px 0 10px;
        color: var(--white);
        .first-panel{
            width: 30%;
.footer-logo{
    
    img{
        width: 130px;
        display: block;
    }
}
p{
    line-height: 30px;
    padding: 50px 0 20px;
    font-size: 16px;
font-weight: 400;
}
ul{
    li{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .call-icon{
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            justify-content: center;
            background: var(--white-sads);
           
            img{
                width: 15px;
                display: block;
                margin: auto;
                height: 17px;
            }

        }
    }
}
        }

        .second-panel{
            h3{
                font-size: 20px;
                padding-bottom: 25px;
font-weight: 600;
            }
            ul{
                li{
                    font-size: 16px;
                    padding-bottom: 20px;
font-weight: 400;
a{
    color: var(--white);
}
                }
            }
        }
        .third-panel{
            h3{
                font-size: 20px;
                padding-bottom: 25px;
font-weight: 600;
            }
            ul{
                li{
                    a{
                        color: var(--white);
                    }
                    font-size: 16px;
                    padding-bottom: 20px;
font-weight: 400;
                }
            }
        }
        .four-panel{
            width:25%;
            h3{
                font-size: 20px;
                padding-bottom: 25px;
font-weight: 600;
            }
            ul{
                li{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 10px;
                  margin-bottom: 20px;
                  border-bottom: 2px solid var(--border-color);
                 
                  select{
                    outline: none;
                    background: none;
                    border: none;
                    color: var(--white);
                    font-size: 16px;
font-weight: 400;
cursor: pointer;
width: 100%;
                  }
                  .down-arrow{
                    img{
                        width: 10px;
                        display: block;
                    }
                  }
                }
            }
        }
    }
}

.copy-right{
    background: var(--black-sads);
    padding: 20px 0;
    border-top: 2px solid var(--border-color);
    color: var(--white);
    text-align: center;
    font-size: 16px;
font-style: normal;
font-weight: 400;
}